.row {
  background-color: white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.row-title {
  height: 0.6rem;
  line-height: 0.6rem;
  color: #222;
  font-size: 0.26rem;
  border-bottom: 1px solid #F6F6F6;
}
.row-text {
  display: inline-block;
  font-size: 0.32rem;
  line-height: 1;
}


.am-list-view-scrollview {
  margin-bottom: 1rem;
}

.tagPosition {
  float:right;
  right:30px;
  top:0.13rem;
}

.row-title .am-badge-text {
  font-size: 0.3rem;
}

.loading-example .am-activity-indicator {
  width:1.8rem;
  margin:0 auto;
}


.itemTitle {
  color:#fff;
  font-size: 0.28rem;
  margin-left: 10%;
  width:80%;
  font-weight: 100;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
