.row {
  padding: 0 0.3rem;
  background-color: white;
}
.row-title {
  height: 0.6rem;
  line-height: 0.6rem;
  color: #222;
  font-size: 0.26rem;
  border-bottom: 1px solid #F6F6F6;
}
.row-text {
  display: inline-block;
  font-size: 0.32rem;
  line-height: 1;
}


.am-list-view-scrollview {
  margin-bottom: 1rem;
}
